@import "tailwindcss";

@theme {
  --color-os-bg: #0f172a;
}

:root {
  /* Variable CSS */
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* Pastikan URL gambar ada di sini */
  background-image: url('https://images.unsplash.com/photo-1550751827-4bd374c3f58b?q=80&w=2070&auto=format&fit=crop');
  background-size: cover;
  background-position: center;
  background-color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}